package homeview

import (
    "github.com/MigFerro/exame/templates/layouts"
)


templ Show() {
    @layouts.Base(layouts.BaseOptions{}) {
        <div class="py-5 text-xl">
            <h1> Homepage </h1>
        </div>
    }
}
