package exerciseview

import (
    "fmt"
    "strings"
    "strconv"

    "github.com/MigFerro/exame/templates/layouts"
    templateutils "github.com/MigFerro/exame/templates/utils"
    "github.com/MigFerro/exame/entities"
    "github.com/MigFerro/exame/data"
)

templ ShowTest(exercises []entities.ExerciseWithChoicesEntity) {
    @layouts.Base(layouts.BaseOptions{ WithLatex: true }) {
        <form method="post" action="/test/solve" class="relative pb-10">
        for i, exercise := range exercises {
            <div class="p-10 my-10 bg-slate-200 rounded-lg relative" id={ "exercise-container-" + strconv.Itoa(i) }>
                <div>
                    for _, line := range strings.Split(exercise.ProblemText, "\n") {
                        <p class="text-lg">{line}<br /></p>
                    }

                    if exercise.ExameYear != "" && exercise.ExameFase != "" {
                        <p class="italic py-5">{ templateutils.GetExameString(exercise.ExameYear, exercise.ExameFase) }</p>
                    }

                </div>

                <input type="hidden" name={ "exercise-" + strconv.Itoa(i) } value={ exercise.Id.String() } class="hidden" />

                <div class="absolute top-0 right-0 inline-flex items-center justify-between p-1.5 text-gray-100 bg-blue-950 border border-gray-200 rounded-lg">
                    { exercise.Category.Category }
                </div>

                <div id={ "choices-container-" + strconv.Itoa(i) }>
                    <ul class="grid w-full gap-6 md:grid-cols-4 pt-10">
                        for j, choice := range exercise.Choices {
                            <li>
                                if j == 0 {
                                    <input type="radio" id={ choice.Id.String() } name={ "choice-" + strconv.Itoa(i) } value={ choice.Id.String() } class="hidden peer" required  />
                                } else {
                                    <input type="radio" id={ choice.Id.String() } name={ "choice-" + strconv.Itoa(i) } value={ choice.Id.String() } class="hidden peer" />
                                }
                                if i < 4 {
                                    <label for={ choice.Id.String() } _={ "on click go to top of #exercise-container-" +  strconv.Itoa(i+1) + " smoothly" } class="inline-flex items-center justify-between w-full p-5 text-gray-700 font-bold bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">                           
                                        <div class="block w-full text-center">
                                            { choice.Value }
                                        </div>
                                    </label>
                                } else {
                                    <label for={ choice.Id.String() } class="inline-flex items-center justify-between w-full p-5 text-gray-700 font-bold bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">                           
                                        <div class="block w-full text-center">
                                            { choice.Value }
                                        </div>
                                    </label>
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
        <input class="absolute bottom-0 right-0 text-white text-xl font-bold bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center" type="submit" value="Terminar" />
        <input type="hidden" name="exercise_count" value={ strconv.Itoa(len(exercises)) } />
        </form>
    }
}

templ ShowTestResult(result data.TestResult) {
    @layouts.Base(layouts.BaseOptions{ WithLatex: true }) {
        
        <div class="text-center">
            if float32(result.CorrectCount) / float32(len(result.Exercises)) < float32(1)/float32(2) {
                <h1 class="py-5 text-center text-6xl font-bold text-red-500">{ fmt.Sprintf("%.0f", 100 * float32(result.CorrectCount) / float32(len(result.Exercises))) + "%" }</h1>
            }

            else if float32(result.CorrectCount) / float32(len(result.Exercises)) < float32(3)/float32(4) {
                <h1 class="py-5 text-center text-6xl font-bold text-yellow-500">{ fmt.Sprintf("%.0f", 100 * float32(result.CorrectCount) / float32(len(result.Exercises))) + "%" }</h1>
            } else {
                <h1 class="py-5 text-center text-6xl font-bold text-green-500">{ fmt.Sprintf("%.0f", 100 * float32(result.CorrectCount) / float32(len(result.Exercises))) + "%" }</h1>
            }
            <div class="text-lg">
                if result.PointsGained >= 0 {
                    <span>+</span>
                }
                <span class="text-lg font-bold">
                { strconv.Itoa(result.PointsGained) }
                </span>
                pontos
            </div>
        </div>
        

        for i, exercise := range result.Exercises {
            @ExerciseResult(exercise.IsSolution) {
                <div>
                    for _, line := range strings.Split(exercise.Exercise.ProblemText, "\n") {
                        <p class="text-lg">{line}<br /></p>
                    }

                    if exercise.Exercise.ExameYear != "" && exercise.Exercise.ExameFase != "" {
                        <p class="italic py-5">{ templateutils.GetExameString(exercise.Exercise.ExameYear, exercise.Exercise.ExameFase) }</p>
                    }

                </div>

                <div class="absolute top-0 right-0 inline-flex items-center justify-between p-1.5 text-gray-100 bg-blue-950 border border-gray-200 rounded-lg">
                    { exercise.Exercise.Category.Category }
                </div>

                <div id={ "choices-container-" + strconv.Itoa(i) }>
                    <ul class="grid w-full gap-6 md:grid-cols-4 pt-10">
                        for _, choice := range exercise.Exercise.Choices {
                            <li>
                                if choice.Id.String() == exercise.ChoiceCorrectId  && !exercise.IsSolution {
                                    <div class="inline-flex items-center justify-between w-full p-5 text-green-600 font-bold bg-white border-2 border-green-500 rounded-lg">                           
                                        <div class="block w-full text-center">
                                            { choice.Value }
                                        </div>
                                    </div>
                                } else {
                                    if choice.Id.String() == exercise.ChoiceSelectedId {
                                        <div class="inline-flex items-center justify-between w-full p-5 text-gray-600 bg-gray-300 border-2 border-gray-400 font-bold rounded-lg">                           
                                            <div class="block w-full text-center">
                                                { choice.Value }
                                            </div>
                                        </div>
                                    } else {
                                        <div class="inline-flex items-center justify-between w-full p-5 text-gray-700 font-bold bg-white border border-gray-200 rounded-lg">                           
                                            <div class="block w-full text-center">
                                                { choice.Value }
                                            </div>
                                        </div>
                                    }
                                }
                                
                            </li>
                        }
                    </ul>
                </div>
            }
        }
    }
}

templ ExerciseResult(isSolution bool) {
    if isSolution {
        <div class="p-10 my-10 bg-slate-200 rounded-lg border-4 border-green-500 relative">
            { children... }
        </div>
    } else {
        <div class="p-10 my-10 bg-slate-200 rounded-lg border-4 border-red-400 relative">
            { children... }
        </div>
    }
}


